name: Android CI

on:
  push:
  repository_dispatch:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  actions: write
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@main
        with:
          submodules: recursive
     
      - name: Setup JDK
        uses: actions/setup-java@main
        with:
          distribution: 'jetbrains'
          java-version: '21'
          java-package: jdk
          cache: 'gradle'

      - name: Build APK
        run: chmod +x gradlew && ./gradlew :android:assembleRelease

      - name: Upload to artifact
        uses: actions/upload-artifact@v6
        continue-on-error: true
        with:
          name: apk
          path: android/build/outputs/apk/release/*.apk

      # - name: Upload to release
      #   uses: svenstaro/upload-release-action@master
      #   if: github.event_name == 'release'
      #   with:
      #     repo_token: ${{ secrets.GITHUB_TOKEN }}
      #     file: android/build/outputs/apk/release/*.apk
      #     asset_name: JPSyllabary
      #     tag: ${{ github.ref }}_${{ steps.time.outputs.time }}
      #     overwrite: true
      #     file_glob: true

      - name: Remove old Releases
        uses: dev-drprasad/delete-older-releases@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          keep_latest: 3
          delete_tags: true

      - name: Delete workflow runs
        uses: GitRML/delete-workflow-runs@main
        with:
          retain_days: 3
          keep_minimum_runs: 2

